<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DnsClient" version="1.8.0-beta-20240317.9" targetFramework="net48" />
  <package id="ILRepack" version="2.0.41" targetFramework="net481" developmentDependency="true" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="10.0.1" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
</packages>